.box{
    width: 150px ;
    height: 150px ;
    margin: auto ;
    margin-bottom: 20px ;
    
    
    
}

#box1{
    background-color: red ;
      transition: width 2s linear;
}

#box1:hover{
    width:300px;
}

#box2{
    background-color: blue ;
    transition: height 2s linear ;
}

#box2:hover{
    height:300px;
    
    
}

#box3{
    background-color: green ;
     transition: height 2s linear,width 2s linear ;
}

#box3:hover{
    height:300px;
    width:300px;
      
}

#box2circle{
    background-color: yellow ;
    border-radius: 0 ;
    
    transition: background-color 2s linear, border-radius 2s linear ;
}

#box2circle:hover{
    background-color: violet;
    border-radius: 50% ;
}